body {
  
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
}
.card{
  display: flexbox;
  align-items:center;
  height: 10cm;
  width: 7cm;
  box-shadow: 10px 10px 25px black;
  border-radius: 20px;
  margin-bottom: 1cm;
  margin-left: 0.5cm;
  
  

}
.card-img-top{
  width: 100%;
  height: 5.5cm;
  box-shadow: 1px 1px 40px rgb(68, 68, 68);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title{
  margin-top: 0.1cm;
  margin-bottom:0.1cm;
  text-align: Center;
  font-weight: bold;
  font-size: 17px;
  color:#464444;
}
.card:hover{
  box-shadow: 10px 10px 25px black;
  transform: translatey(-4%) ;
}
.data-fancybox img {
  cursor: zoom-in;
}
.style{
  position: fixed;
 
}
.rounded{
  size-adjust: 100%;
  width: 8cm;
  height:auto;
  box-shadow: 1px 1px 40px rgb(226, 230, 226);
  border-radius: 30px;
  
}
.text-center{
  text-align: center;
  text-align: justify;
  font-size: 20px;
  color:rgb(0, 0, 0);
  background-color:rgb(227, 235, 230);
  box-shadow: 1px 1px 40px rgb(0, 0, 0);
  border-radius: 20px;
}

btn-btn-secondary{
  align-items: center;
  margin-bottom: cm;

}